.img-container {
  border: 1px solid #eee;
  background-color: #06070b;
  display: flex;
  justify-content: center;
  align-items: center;
  /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px #eee; */
}
.btn-col {
  height: 560px;
}
img {
  border: 1px solid #eee;
}
button {
  width: 100%;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #f7c107;
  /* background: #e8e8e8; */
  position: relative;
  font-weight: 1000;
  font-size: 20px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  outline: none;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #06070b;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
  border: 1px solid #f7c107;
}

button:hover::before {
  width: 100%;
}
.dis-container {
  border: 1px solid #3a39397c;
  background-color: #06070b;
}
