.navbar {
  background: #06070b;
}
.nav-links ul {
  text-align: center;
}
.nav-links ul li {
  margin-top: 10px;
  font-size: 22px;
  margin-right: 30px;
}
.nav-links .navbar-brand {
  margin-right: 20px;
}
.navbar-brand i {
  color: white;
  /* font-size: 40px; */
  margin-left: 30px !important;
}
.navbar .navbar-brand {
  font-size: 32px;
  margin-left: 15px;
}
.navbar .navbar-brand span {
  color: #cda11e;
}
/* .nav-links .navbar-brand span {
  color: white;
  font-size: 40px;
  margin-left: 15px;
} */
.nav-links a {
  border-bottom: 1px solid #9c8d611c;
  transition: border 0.5s;
}
.nav-links a:hover {
  border-bottom: 1px solid #cda11e;
}
.active {
  font-weight: bold;
}

.nav-links button {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  background-color: #cda11e;
}
