<div class="contatiner bg-dark rounded fs-4 p-3">
  <p>Filter !</p>
  <hr />
  <div class="row justify-content-center align-items-center g-2">
    <p>Category</p>

    <div class="radio-button-container ms-5">
      <div class="radio-button">
        <input
          type="radio"
          class="radio-button__input"
          id="radio1"
          name="radio-group"
        />
        <label class="radio-button__label" for="radio1">
          <span class="radio-button__custom"></span>
          PC
        </label>
      </div>

      <div class="radio-button">
        <input
          type="radio"
          class="radio-button__input"
          id="radio2"
          name="radio-group"
        />
        <label class="radio-button__label" for="radio2">
          <span class="radio-button__custom"></span>
          PS-5
        </label>
      </div>
    </div>
  </div>
  <hr />
  <div class="row justify-content-start align-items-start">
    <p>Sort</p>
    <select class="form form-select ms-3 text-dark">
      <option value="" selected></option>
      <option value="">ASC</option>
      <option value="">DES</option>
    </select>
  </div>
</div>
